.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 35px 50px 30px 50px;

	&__label {
		font-size: 18px;
		font-weight: 600;
		line-height: 120%;
		margin: 15px 0 15px;
	}

	&__label:first-child {
		margin-top: 0;
	}

	&__input {
		border: 1px solid #dcdcdc;
		border-radius: 10px;
		padding: 15px 0 15px 26px;
	}

	&__input::placeholder {
		font-family: 'Montserrat', sans-serif;
		font-size: 13px;
		line-height: 120%;
	}
}
